.contains{
    align-items: normal;
    margin-top: 50px;

}


.input{
  border: solid 1px rgba(129, 26, 26, 0.418);
  border-radius: 23px;
  text-indent: 10px;
  border-color:#1c1d1c;
  height: 28px;
  font-weight: 510;
  text-align: left;
  opacity: 0.60;
  margin-bottom: 5px;
  opacity:none;
    
}

.btnSearch{
  width: 120px;
  height: 30px;
  background-color: rgba(190, 23, 23, 0.876);
  border: solid 1px rgba(218, 31, 65, 0.774);
  color: white;
  border-radius: 9px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 5px;

}
.btnSearch:hover {
  background-color: rgba(211, 47, 77, 0.774);;
}
